---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
---
<Layout>
  <Nav />
  <main class="min-h-screen pt-32">
    <p class="text-center text-gray-400">Scroll to test nav background fade.</p>
    <div style="height: 200vh"></div>
  </main>
</Layout>
