---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Features from '../components/Features.astro';
import SkillFormat from '../components/SkillFormat.astro';
import Pricing from '../components/Pricing.astro';
import Waitlist from '../components/Waitlist.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---
<Layout>
  <Nav />
  <main>
    <Hero />
    <HowItWorks />
    <Features />
    <SkillFormat />
    <Pricing />
    <Waitlist />
    <CTA />
  </main>
  <Footer />
</Layout>
